body {
	font-family: Bitter;
	padding-top: 4%;
}
h1 {
	font-size: 7rem;
}
p {
	font-family: Lora;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { 
	color: #000 
} 
.page-scroll {
	font-family: Montserrat;
	color: #F5F0FF;
	font-size: 1.75rem;
}

/*Projects*/
#votebot {
	background-color: #6DF7E0;
	height: 35rem;
	padding-top: 4%;
}
#votebot img{
	width: 100%;
	border: 2px solid white;
}
#perooze {
	/*background-color: #5296D9;*/
	background-color: white;
	height: 55rem;
	padding-top: 5%;
}
#perooze img {
	width: 40%;
}
#hacktx {
	background-color: #1548ED;
	padding: 4%;
}
#hacktx a, #hacktx h3, #hacktx p {
	color: white;
}

/*Organizations*/
#orgs {
	background-color: #F5D316;
	padding: 4%;
}


/*Footer*/
footer {
	background-color: white;
}
footer .container {
	height: 30rem;
	padding: 2%;
}