body {
	font-family: Bitter;
	padding-top: 4%;
}
h1 {
	font-size: 7rem;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { 
	color: #000 
} 
.page-scroll {
	font-family: Montserrat;
	color: #F5F0FF;
	font-size: 1.75rem;
}

/*Projects*/
#votebot {

}

#perooze {

}

#hacktx {

}
/*Organizations*/
#orgs {
	background-color: ;
}

/*Footer*/
footer {
	background-color: white;
}
footer .container {
	height: 30rem;
	padding: 2%;
}