body {
	background-color: #19E0E0;
	font-family: Bitter;
	padding-top: 4%;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar li { 
	color: #000 
} 
.page-scroll {
	font-family: Montserrat;
	color: #F5F0FF;
	font-size: 1.75rem;
}

/*Footer*/
footer .container {
	height: 30rem;
	padding: 2%;
}